<header class="main-header">
  <nav class="navbar-static-top navbar navbar-expand navbar-white navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
    </ul>
</nav>
</header>


<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-green elevation-4">
   <!-- Brand Logo -->
   <a href="/comment" class="brand-link">
    <i class="brand-image fas fa-2x fa-comments"></i>
    <span class="brand-text font-weight-light">COMMENT APP</span>
  </a>
  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a routerLink="/comment" class="nav-link">
            <i class="nav-icon fas fa-th"></i>
            <p>Listado Comentarios</p>
          </a>
        </li>
      </ul>
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a href="/" class="nav-link">
            <i class="nav-icon fa fa-circle-o"></i>
            <p>Cerrar Sesión</p>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</aside>